.nav_bar{
    list-style: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: black;
}
body{
    background-color: grey;
}
li, a{
    font-family:"Montserrat", sans-serif ;
    font-weight: 500 ;
    font-size: 16px;
    color: red;
    text-decoration: none;
    background-color:transparent;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    padding: 5px;
}
.cars h1{
    font-style: italic;
}
.home_title{
    text-align: center;
    font: bold;
}
hr{
    color: red;
    background-color: red;
}
.nav_bar li a:hover{
    color: grey; 
}
#review_link{
    color: blue;
}
